footer{
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5em;
}
footer h1{
    color: #101828;
    font-size: 36px;
    margin-top: 96px;
}
p {
    color: #667085;
    font-size: 20px;
    margin-top: 2em;
}
.copyright{
    color: #98A2B3;
    font-size: 16px;
    margin: 2em;
}
.cadastrarEmail{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}
.cadastrarEmail input{
    border: 1px solid #d0d5dd;
    background-color: #fff;
    border-radius: 8px;
    width: 360px;
    padding: 1em;
    margin-right: 1em;
}